/*
    Divisions:
    1.  General
    2.  Common (reused in various situations)
    3.  About Us
    4.  Advanced Search
    5.  Animal Signup
    6.  Animal Profile
    7.  Animal / User Profile Common
    8.  Edit / Register Common
    9.  Edit User Profile
    10. Main Page
    11. Proposals Page
    12. Top bar Header
    13. User Authentication
    14. User Profile

*/





/*
---------------------------------------------
    1. General
---------------------------------------------
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Lato;
}

:root {
    font-size: 26px;
    --login-blue: #3d8af7;
    --login-blue-a: rgba(61, 138, 247, 0.8);
    --login-blue-soft: rgb(90, 159, 255);
    --info-field-text: #384dc3;
}

body {
    color: black;
    background-color: white;
    margin: 0 auto;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 999;
}

select {

    height: 45px;
}





/*
---------------------------------------------
    2. Common (reused in various situations)
---------------------------------------------
*/

/* ----- Mulitiple Usages ----- */
.adopt-container, .favourites-container, .search-container, .login-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 10;
}

.adopt-content, .favourites-content, .search-content, .login-content {
    width: 400px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    border-style: solid;
    border-color: var(--login-blue);
    border-width: 2px;
    overflow: hidden;
}

.search-content > form, .advanced-search-form {
    padding: 5% 10% 5%;
}

.search-content > form > button, .advanced-search-form > button, .adopt-favourite-container > button,body > div.adopt-container > div > form > button {
    margin-top: 7%;
    width: 75%;
    height: 50px;
    border: 2px solid;
    background: var(--login-blue);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-out 0.5s;
}

.search-results{
    background-color: white;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 3%;
    border: 2px solid darkblue;
}

.search-results h1{
    font-weight: normal;
    font-size: 90%;
    padding: 1%;
    
}

/* --- Close ('X') Button --- */
.close-button-container {
    height: 5px;
    float: right;
    position: relative;
    top: 10px;
    right: 10px;
}

.close-button-container a{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
    transition: 0.1s;
}

.close-button-container a:hover{
    color: red;
}

/* --- Checkbox --- */
.checkbox-container {
    display: block;
    position: relative;
    text-align: left;
    margin-left: 30%;
    margin-right: 25%;
    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input { /* Hide default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark { /* Custom checkmark */
    position: absolute;
    top: 0;
    right: 20%;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after { /* Create the checkmark (starts as hidden) */
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block; /* Show checkmark when checked */
}

.checkbox-container .checkmark:after { /* Checkmark Styling */
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.search-content > form > button:hover, .advanced-search-form > button:hover, .adopt-favourite-container > button:hover,  body > div.adopt-container > div > form > button:hover{
    background-color: white;
    color: var(--login-blue);
}

/* Search checkboxes */
.species-checkbox-container {
    border-top-style: solid;
    border-color: var(--login-blue);
    border-width: 2px;
}

.species-checkbox-container label, .range-slider-container > label {
    color: darkblue;
}

.species-checkbox-container .checkbox-container{
    color: black;
    font-size: 20px
}

.gender-checkbox-container {
    margin-top: 2%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--login-blue);
    border-width: 2px;
}

.gender-checkbox-container label{
    color: darkblue;
}

.gender-checkbox-container .checkbox-container {
    color: black;
    font-size: 20px
}

.show-adopted-checkbox-container .checkbox-container{
    color: black;
}

.search-container .txt_field input:focus ~ label, .search-container .txt_field input:not(:placeholder-shown) ~ label{
    top: -15px;
    color: var(--login-blue)
}

.search-container .txt_field input:focus ~ span::before, .search-container .txt_field input:not(:placeholder-shown) ~ span::before{
    width: 100%;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 30%;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--login-blue);
    transition: 0.5s;
}





/*
---------------------------------------------
    3. About Us
---------------------------------------------
*/

.about-us-button-class {
    background-color: var(--login-blue);
    align-items: center;
    width: 100%;
    height: 70px;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: none;
    outline: none;
}

.about-us-names-class {
    color: white;
    font-size: 0.9rem;
    padding: 0 4%;
    overflow: hidden;
    background-color: var(--login-blue-a);
    position: absolute;
    width: 100%;
    
    height: 0px;
    transition: height 300ms;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.up-number-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.up-number-col:nth-of-type(2) {
    padding-left: 10px;
    flex: 5;
}

.name-col > li:nth-child(1), .up-number-col > li:nth-child(1) {
    margin-top: 10px;
}

.about-us-names-class.is-active {
    height: 135px;
}





/*
---------------------------------------------
    4. Advanced Search
---------------------------------------------
*/

.animal-list-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
	margin: 0;
    background: white;
}

.search-parameters-container{
    padding: 3%;
    
    background-image: linear-gradient(to top, var(--login-blue), #84ceeb);
}

.search-parameters h1 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    color: darkblue;
}

.search-parameters h2 {
    font-size: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--login-blue);
}

.search-parameters {
    background-color: white;
    text-align: center;
    margin-bottom: 4%;
    margin-top: 2%;
    font-weight: normal;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-bottom: 2%;
    flex: 1;
    border: 2px solid darkblue;
    border-radius: 8px;
}

.animal-list-grid {
    padding: 2%;
    list-style: none;
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f3f2da;
    border-left: 4px solid darkblue;
}

.animal-list-grid, .animal-list-grid.before {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.advanced-search-form {
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    min-width: 325px;
    max-width: 400px;
}

.advanced-search-form > .gender-checkbox-container, .advanced-search-form > .species-checkbox-container {
    padding: 10px 0;
}

/* Range sliders (Source: https://codepen.io/joosts/pen/rNLdxvK) */

.range-sliders-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 10px 10% 0;
}

.range-slider-container {
    padding: 0 10px;
    margin: 0px auto;
    text-align: center;
}

.min-max-slider {
    position: relative;
    width: 200px;
    margin-bottom: 35px;
}

.min-max-slider > label {
    display: none;
}

span.value {
    height: 1.7em;
    font-weight: bold;
    display: inline-block;
}

span.value.lower {
    text-align: left;
    margin-left: -1px;
    width: 50%;
}

span.upper.value {
    text-align: right;
    margin-right: -10px;
    width: 50%;
    /* padding-left: 35%; */
}

span.value.lower::before {content: ""; display: inline-block;}
span.value.upper::before {content: ""; display: inline-block; margin-left: 0.4em;}
.min-max-slider > .legend {display: none;}

.min-max-slider > input {cursor: pointer; position: absolute;}

/* webkit specific styling */
.min-max-slider > input {
  -webkit-appearance: none;
  outline: none!important;
  background: transparent;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, silver 30%, silver 60%, transparent 60%, transparent 100%);
}

.min-max-slider > input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 24px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.min-max-slider > input::-webkit-slider-runnable-track {cursor: pointer;}





/*
---------------------------------------------
    5. Animal Signup
---------------------------------------------
*/

#signup-animal{
    display: flex;
    justify-content: center;
    border-top-style: solid;
    border-width: 15px;
    border-color: var(--login-blue);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../assets/add_animal_bg.jpg);
    background-size: cover;
}

#signup-animal .register-content h1, #edit-animal .register-content h1 {
    font-size: 45px;
    text-align: center;
    font-weight: normal;
    padding-top: 20px;
    color: darkblue;
    line-height: 100%;
    margin-bottom: 1%;
}

#signup-animal .txt_field input:focus ~ label,
#signup-animal .txt_field input:valid ~ label,
#edit-animal .txt_field input:focus ~ label,
#edit-animal .txt_field input:valid ~ label {
    top: -15px;
    color: var(--login-blue)
}

#signup-animal .txt_field input:focus ~ span::before,
#signup-animal .txt_field input:valid ~ span::before,
#edit-animal .txt_field input:focus ~ span::before,
#edit-animal .txt_field input:valid ~ span::before {
    width: 100%;
}

.select-box select{
    width: 200px;
    background-color: var(--login-blue-soft);
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    color: white;
    padding: 1%;
    transition: ease-out 0.5s;
    font-size: 60%;
}

.select-box select:hover {
    background-color: white;
    color: var(--login-blue);
    border-color: var(--login-blue);
}

.select-box select:focus {
    background-color: white;
    color: var(--login-blue);
    border-color: var(--login-blue);
}


.file-choice-animal{
    display: flex;
    justify-content: center;
}

.file-choice-animal input[type="file"]{
    display: none
}

.file-choice-animal label{
    color: white;
    height: 60px;
    width: 250px;
    background-color: var(--login-blue);
    font-size: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--login-blue-soft);
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-out 0.5s;
}

.file-choice-animal label:hover{
    background-color: white;
    color: var(--login-blue);
    border-color: var(--login-blue);
}

/*
---------------------------------------------
    6. Animal Profile
---------------------------------------------
*/

.animal-stats {
    color: var(--login-blue);
}

.animal-card .animal-name{
    color: black;
    padding: 5% 0 3px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.animal-card hr {
    margin-bottom: 2%;
    margin-top: 1%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    background-color:gray;
}

.animal-info{
    display: flex;
    justify-content: center;
    width: 100%;
}

.animal-card ul li:not(:first-child):before {
    content: " | ";
    color: black;
}

.animal-card ul li {
    display:inline;
}

.stat-title {
    font-weight: 600;
    margin-right: 3%;
}

.animal-card .animal-name h1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.favourite-container {
    padding-left: 25%;
}

.favourite-container form {
    margin: auto auto auto 1%;
    display: flex;
    flex-direction: column;
}

.favourite-container .favourite-button-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.animal-card-buttons{
    padding-right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#animal-name-profile > div.animal-card-buttons > div.edit-animal-information > a{
    color: black;
    font-size: 100%;
}

#animal-name-profile > div.animal-card-buttons > div.edit-animal-information > a .material-icons-round{
    color: black;
    font-size: 130%;
}

#animal-name-profile > div.animal-card-buttons > div.delete-animal > form > button{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: red;
   
}

#animal-name-profile > div.animal-card-buttons > div.delete-animal > form > button .material-icons-round{
    font-size: 300%;
}

/* Slideshow container */
.slideshow-container {
    margin-right: 20%;
    margin-left: 20%;
  }

  .slideshow-container img {
    border-radius: 38px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
body > div.animal-page-complete > div.slideshow-container > div:nth-child(1){
    display: block;
}

  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.adopt-button-container {
    margin: auto;
    
}

.adopt-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    border: 2px solid;
    background: white;
    border-radius: 25px;
    border-color: red;
    color: black
}

.adopt-container{
    min-height: 500vh;
}

.adopt-content{
    position: relative;
    bottom: 3%;
}

.adopt-favourite-container > button {
    margin-top: 0;
    font-size: 28px;
}

.adopt-title{
    font-size: 170%;
    color: darkblue;
    padding: 2%;
    border-bottom: 2px solid var(--login-blue);
    margin-bottom: 2%;
}

.adopt-vow{
    text-align: justify;
    font-size: 80%;
    padding: 8%;
    margin-bottom: 2%;
}

body > div.adopt-container > div > form > label{
    font-size: 80%;
}

body > div.adopt-container > div > form > div input:focus ~ span::before,
body > div.adopt-container > div > form > div input:not(:placeholder-shown) ~ span::before{
    width: 100%;
}


body > div.adopt-container > div > form > div input:focus ~ label,
body > div.adopt-container > div > form > div input:not(:placeholder-shown) ~ label{
    top: -15px;
    color: var(--login-blue)
}

body > div.adopt-container > div > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

body > div.adopt-container > div > form > div{
    width: 60%;
}

#description{
    border: 2px solid var(--login-blue);
    border-radius: 10px;
    width: 80%;
    padding: 2%;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}

.add-to-favourites-button-unliked, .add-to-favourites-button-liked, .favourites-counter {
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

.adopt-favourite-container {
    margin: 1% 20% 6%;
    text-align: center;
}

.topic-container {
    padding: 1vh;
    color: black;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    margin: 0 20% 5%;
    height: auto;
}

.topic-container hr{
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    background-color:gray;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.topic-photos-title-container{
    margin: 2% 20% 3%;
    color: white;
    text-align: center;
    display: block;
    justify-content: center;
}

.topic-title-container{
    margin: 2% 20% 3%;
    color: white;
    text-align: center;
    display: block;
    justify-content: center;
}

.topic-title-container .material-icons-round, .questions-title-container .material-icons-round, .topic-photos-title-container .material-icons-round{
    font-size: 80%;
}

.topic-title-container h1, .questions-title-container h1,.topic-photos-title-container h1{
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 1vh;
}

.topic-data, .question-data, .answer-data{
    font-size: 80%;
}

.topic-username-link, .topic-question-link, .topic-answer-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 1rem;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out, ;
}

.topic-username-link:hover, .topic-question-link:hover, .topic-answer-link:hover{
    color: var(--login-blue);
}

.topic-container .proposal-user-photo img, .animal-proposal-photo img{
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: var(--login-blue);
}

.proposal-user {
    font-size: 4vh;
}

.proposal-newName {
    font-size: 100%;
    font-style: italic;
}

.proposal-description {
    text-align: justify;
}

.proposal-title{
    margin-right: 2%;
}

.proposal-user > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 1rem;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out, ;
}

.proposal-user > a:hover {
    color: var(--login-blue);
}

/* Comments and Answers */
.questions-title-container h1{
    margin: 2% 10% 3%;
}

.questions-title-container{
    width: 100%;
}

.question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}

.question-container{
    padding: 1vh;
    width: 100%;
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: rgb(250, 250, 250);
    margin-bottom: 1vh;
}

.answers-container{
    width: 100%;
}

.answer-container{
    padding: 1vh;
    width: 80%;
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: rgb(250, 250, 250);
    float: right;
    margin-bottom: 1vh;
}

.question-header, .answer-header, .topic-header{
    padding-left: 2%;
    padding-top: 1%;
}

.question-header h1, .answer-header h1, .topic-header h1{
    font-size: 150%;
    color: black;
}

.question-body, .answer-body, .topic-body, .proposal-header{
    display: flex;
    padding: 1%;
    width: auto;
}

.question-body .user-photo, .answer-body .user-photo, .topic-body .user-photo, .proposal-user-photo{
    margin-left: 2%;
    margin-right: 4%;
}

.question-body .user-photo img, .answer-body .user-photo img, .topic-body .user-photo img{
    border-radius: 100%;
    border-style: solid;
    border-width: 10px;
    border-color: var(--login-blue);
}

.question-description, .answer-description, .topic-description{
    font-size: 120%;
    text-align: justify;
    margin-right: 2%;
}

.add-question-container, .add-answer-container{
    width: 80%;
}

.textinput{
    width: 100%;
}

.add-question-container .textinput textarea, .add-answer-container .textinput textarea{
    width: 100%;
    min-height: 30vh;
    font-size: 30px;
    padding: 3%;
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

.add-answer-container .textinput textarea{
    min-height: 20vh;
}

.form-title{
    padding: 1%;
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: white;
    width: 30%;
    margin-bottom: 1%;
    font-size: 80%;
    text-align: center;
    margin-top: 2%;
}

.form-title .material-icons-round{
    font-size: 80%
}

.forum-button{
    margin-left: 70%;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 25%;
    height: 50px;
    border: 2px solid;
    background: var(--login-blue);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-out 0.5s;
}

.forum-button:hover{
    background: white;
    color: var(--login-blue);
}

.question-section hr{
    margin-bottom: 2%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1.5px;
    border-color: var(--login-blue);
    background-color:var(--login-blue);
    width: 100%;
}





/*
---------------------------------------------
    7. Animal / User Profile Common
---------------------------------------------
*/
.animal-page-complete, .profile-page-complete {
    background-color: #f3f2da;
    width: 100%;
    padding-bottom: 2%;
}

.animal-page-complete > svg, .profile-page-complete > svg {
    width:100%;
    height: 30%;
    position: absolute;
    z-index: 0;
}

.animal-container, .profile-container {
    display: block;
    position: relative;
    width: 100%;
}

.animal-photo img, .profile-container .user-photo img {
    display: block;

    position: relative;

    margin: 0 auto -4%;
    
    border-radius: 100%;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 20px;
    border-color: var(--login-blue);

    min-width: 30vh;
    min-height: 30vh;
    width: 400px;
    height: 400px;
    max-width: 40vh;
    max-height: 40vh;
    z-index: 1;
}

.animal-card, .user-card {
    position: relative;
    /* bottom: 48vh; */
    color: var(--login-blue);
    margin-left: 20%;
    margin-right: 20%;
    padding: 1% 2% 3% 2%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;

}

.user-card h4, .animal-stat h4 {
    color: black;
    font-weight: normal;
}


/*
---------------------------------------------
    8. Edit / Register Common
---------------------------------------------
*/

#signup .register-content h1, #edit-profile-container .edit-content h1{
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    padding-top: 20px;
    color: darkblue;
}

.register-content h2,.edit-content h2{
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--login-blue);

}

.register-content > form > button, #edit-profile-container > button{
    width: 100%;
    height: 50px;
    border: 2px solid;
    background: var(--login-blue);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-out 0.5s;
    margin-top: 20px;
}

.register-content > form > button:hover, #edit-profile-container > button:hover{
    background-color: white;
    color: var(--login-blue);
}

#signup .txt_field label, #edit-profile-container .txt_field label{
    position: absolute;
    top: 30%;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

#signup .txt_field span::before, #edit-profile-container .txt_field span::before, body > div.adopt-container > div > form > div span::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--login-blue);
    transition: 0.5s;
}

#edit-animal{
    display: flex;
    justify-content: center;
    border-top-style: solid;
    border-width: 15px;
    border-color: var(--login-blue);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../assets/edit_animal.jpg);
    background-size: cover;
}




/*
---------------------------------------------
    9. Edit User Profile
---------------------------------------------
*/

#edit-profile-container{
    background-image: url(../assets/edit_profile.jpg);
}

#edit-profile-container .txt_field input:focus ~ label,
#edit-profile-container .txt_field input:not(:placeholder-shown) ~ label{
    top: -15px;
    color: var(--login-blue)
}

#edit-profile-container .txt_field input:focus ~ span::before,
#edit-profile-container .txt_field input:not(:placeholder-shown) ~ span::before{
    width: 100%;
}

#edit-profile-container{
    border-top-style: solid;
    border-width: 15px;
    border-color: var(--login-blue);
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-profile-container > button{
    width: 50%;
}

.edit-content{
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 2%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    border: 2px solid var(--login-blue);
    width: 50%;
}

.form-container{
    display: flex;
    justify-content: space-around;
}

.form-details-container{
    width: 35%;
}

/* Image Upload */
.change-photo-container{
    margin-top: 2%;
}

.change-photo-container .container{
    height: 350px;
    width: 430px;
    position: relative;
}

.change-photo-container .container .wrapper{
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7);
    border: 2px solid var(--login-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.change-photo-container .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.7);
}

.change-photo-container .wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.change-photo-container .wrapper #cancel-btn i{
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: var(--login-blue);
    cursor: pointer;
    display: none;
    transition: ease-out 0.3s;
}

.change-photo-container .wrapper.active:hover #cancel-btn i{
    display: block;
}

.change-photo-container  .wrapper #cancel-btn i:hover{
    color: #e74c3c;
}

.change-photo-container .wrapper.active:hover .file-name{
    display: block;
  }

.change-photo-container .container #custom-btn{
    margin-top: 30px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: var(--login-blue);
    transition: ease-out 0.5s;
}

.change-photo-container .container #custom-btn:hover{
    background-color: white;
    color: var(--login-blue);
    border-color: var(--login-blue);
}





/*
---------------------------------------------
    10. Main Page
---------------------------------------------
*/

.image-container {
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-style: solid;
    border-width: 10px;
    border-color: var(--login-blue);
    animation: animate 60s ease-in-out infinite;
}

@keyframes animate {
    0%, 100%{background-image: url(../assets/image1.png), url(../assets/image2.png);}
    10% {background-image: url(../assets/image2.png), url(../assets/image3.png);}
    20% {background-image: url(../assets/image3.png), url(../assets/image4.png);}
    30% {background-image: url(../assets/image4.png), url(../assets/image5.png);}
    40% {background-image: url(../assets/image5.png), url(../assets/image6.png);}
    50% {background-image: url(../assets/image6.png), url(../assets/image7.png);}
    60% {background-image: url(../assets/image7.png), url(../assets/image8.png);}
    70% {background-image: url(../assets/image8.png), url(../assets/image9.png);}
    80% {background-image: url(../assets/image9.png), url(../assets/image10.png);}
    90% {background-image: url(../assets/image10.png);}
}

.image-container h1 {
    text-align: center;
    color:white;
    padding-top: 30px;
    text-shadow: 2px 2px 5px #000000;
    font-weight: lighter;
}

.image-container h2 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px #000000;
    font-weight: lighter;
}

.button-container {
    height: 15%;
    text-align: center;
    position: relative;
    top: 55%;
}

.inner-button-container{
    height: 100%;
    width:50%;
    position: relative;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--login-blue);
    border-radius: 8px;
}

/* Main Page Main Button(s) */
.btn {
    height: 100%;
    width: 100%;
    background: var(--login-blue);
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    border:none;
    border-right-style: solid;
    border-width: 1px;
    border-color: black;
    transition: ease-out 0.5s;
    color:white;
}

.btn:hover {
    background-color: white;
    color: var(--login-blue)
}

/* --- Double Button with Rounded Edges --- */
.btn:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.btn:last-child {
    border-right: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.message-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    animation: fadeout 3s linear 1 forwards;
    opacity: 1;
}

#success-message{
    color: darkblue;
}

#error-message{
    color: red;
}

@keyframes fadeout {
    100% { opacity: 0; }
  }

.message-content{
    color: black;
    padding-top: 5px;
    width: 200px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    overflow: hidden;
    position: absolute;
}

.search-content h1 {
    padding: 20px 0 0 0;
    font-size: 40px;
    font-weight: normal;
    color: darkblue;
}

.search-content h2{
    font-size: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--login-blue);
}

/*
---------------------------------------------
    11. Proposals Page
---------------------------------------------
*/

.proposals-page-complete{
    background-color:  #f3f2da;
    padding-top: 2%;
    padding-bottom: 2%;
    min-height: 100vh;
}

.proposals-container-title{
    text-align: center;
    margin: 0% 30% 3%;  
}

.proposals-container-title .material-icons-round{
    font-size: 80%;
}

.proposals-container-title h1{
    padding: 1vh;
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background: white;
}
    
.proposals-animal-container{
    margin: 2% 5% 3%;
    padding: 2%;
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background: white;
}

.proposals-animal-container .animal-text{
    margin-left: 2%;
    color: black;
}

.proposals-animal-container .animal-text h1{
    margin-left: 2%;
    color: black;
    transition: ease-out 0.3s;
}

.proposals-animal-container .animal-text h1:hover{
    color: var(--login-blue);
}

.proposals-animal-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.proposal-container-accepted{
    margin-top: 2%;
    padding: 2%;
    border-style: solid;
    border-color: #32CD32;
    border-radius: 50px;
    border-width: 2px;
    background-color: #d2f8d2; 
}

.proposal-username{
    margin-bottom: 1%;
}

.proposal-username a{
    margin-bottom: 1%;
    color: black;
    font-size: 80%;
    transition: ease-out 0.3s;
}

.proposal-username a:hover{
    color: var(--login-blue);
}

.proposal-container-pending{
    margin-top: 2%;
    padding: 2%;
    border-style: solid;
    border-color: orange;
    border-radius: 50px;
    border-width: 2px;
    background-color: lightyellow; 
}

.proposal-container-refused{
    margin-top: 2%;
    padding: 2%;
    border-style: solid;
    border-color: red;
    border-radius: 50px;
    border-width: 2px;
    background-color: #ffc6c4; 
}

.proposal-container-pending .approve-button{
    margin-right: 1%;
    width: 25%;
    height: 50px;
    border: 2px solid;
    background: #d2f8d2;
    border-radius: 25px;
    font-size: 18px;
    border-color: black;
    color: black;
    cursor: pointer;
    outline: none;
    transition: ease-out 0.5s;
}

.proposal-container-pending .refuse-button{
    margin-left: 1%;
    width: 25%;
    height: 50px;
    border: 2px solid;
    background:  #ffc6c4;
    border-radius: 25px;
    font-size: 18px;
    border-color: black;
    color: black;
    cursor: pointer;
    outline: none;
    transition: ease-out 0.5s;
}

.proposal-container-pending .refuse-button:hover{
    background: #ff726f;
}

.proposal-container-pending .approve-button:hover{
    background: #7aeb7a;
}

.proposal-buttons{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}





/*
---------------------------------------------
    12. Top bar Header
---------------------------------------------
*/

.logo {
    cursor: pointer;
}

.authentication li {
    display: inline-block;
}

.authentication li:first-child {
    padding-right: 5px;
}

.authentication li:last-child {
    padding-left: 5px;
}

.authentication .material-icons-round {
    font-size: 150%;
}

.authentication li a {
    font-size: 20px;
    transition: all 0.3s ease 0s;
    color: black;
}

.authentication li a:hover {
    color:var(--login-blue);
}

.about-us-button-class:hover {
    color:darkblue;
}





/*
---------------------------------------------
    13. User Authentication
---------------------------------------------
*/

.login-content h1{
    font-size: 40px;
    font-weight: normal;
    padding: 20px 0 0 0;
    color: darkblue;
}

.login-content h2{
    font-size: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--login-blue);
}

.login-content form, .register-content form{
    padding: 0 40px;
    box-sizing: border-box;
}

.login-content .txt_field input:focus ~ label, .login-content .txt_field input:valid ~ label{
    top: -15px;
    color: var(--login-blue)
}

.login-content .txt_field input:focus ~ span::before, .login-content .txt_field input:valid ~ span::before{
    width: 100%;
}

.login-content > form > button{
    width: 100%;
    height: 50px;
    border: 2px solid;
    background: var(--login-blue);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-out 0.5s;
}

.login-content > form > button:hover{
    background-color: white;
    color: var(--login-blue);
}

body > div > div.login-container > div {
    font-size: 2rem;
}

#signup{
    display : flex;
    justify-content: center;
    border-top-style: solid;
    border-width: 15px;
    border-color: var(--login-blue);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../assets/register_bg.jpeg);
    background-size: cover;
    padding: 2%;
}

.register-content{
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 2%;
    width: 450px;
    margin-bottom: 150px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    border: 2px solid var(--login-blue);
}

.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a{
    color: var(--login-blue);
    text-decoration: none;
}

#signup .txt_field input:focus ~ label,
#signup .txt_field input:valid ~ label{
    top: -15px;
    color: var(--login-blue)
}

#signup .txt_field input:focus ~ span::before,
#signup .txt_field input:valid ~ span::before{
    width: 100%;
}





/*
---------------------------------------------
    14. User Profile
---------------------------------------------
*/
.profile-page-complete {
    background-color:#f3f2da;
    padding-bottom: 2%;
}

.user-card .user-title {
    display: flex;
    justify-content: center;
}

.user-card .user-name, .user-card .edit-profile {
    position: relative;
    color: black;
    padding: 5% 0 3px 0;
    text-align: center;
}

.user-card .edit-profile .material-icons-round {
    font-size: 70%
}

.user-card .edit-profile a {
    color: black;
    margin-left: 50%;
}

.profile-container .user-card hr {
    margin-bottom: 2%;
    margin-top: 1%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    background-color:gray;
}

.profile-animals-title-container, .profile-adopted-title-container {
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

.profile-animals-title-container{
    margin-top: 2%;
}

.profile-animals-title-container h1, .profile-adopted-title-container h1 {
    width: 60%;
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: white;
    color: black;
    padding: 1vh;
}

.profile-animals-ext-container, .profile-adopted-ext-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 9vh;

}

.profile-animals-container, .profile-adopted-container {
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: rgb(250, 250, 250);
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh;
}

.profile-animal-container {
    margin: 4%;
    border-radius: 50px;
    min-height: 40vh;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out, ;
    background-color: var(--login-blue);
}

.animal-list-grid .profile-animal-container {
    min-height: 34vh;
}

.profile-animal-container .animal-photo {
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px; 
}

.animal-list-grid .profile-animal-container .animal-photo {
    width: 100%;
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px; 
}

.profile-animal-container .animal-text {
    padding-top: 2%;
    height: 8vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.profile-animal-container .animal-text .animal-name {
    color: white;
    font-weight: bold;
    font-size: 100%;
    transition: ease-out 0.5s;
}

.animal-list-grid .profile-animal-container .animal-text{
    height: 3vh;
}

.profile-animal-container .animal-text .animal-species {
    color: black;
    font-size: 80%;
    transition: ease-out 0.5s;;
}

.profile-animal-container:hover {
    background-color: darkblue;
}

.profile-animal-container:hover .animal-text .animal-species {
    color: white;
}

.profile-favourites-title-container{
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

.profile-favourites-title-container h1{
    width: 60%;
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: white;
    color: black;
    padding: 1vh;
}

.profile-favourites-ext-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-favourites-container{
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: rgb(250, 250, 250);
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh;
}

