*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Lato;
}

:root {
    font-size: 26px;
    --login-blue: #3d8af7;
    --login-blue-a: rgba(61, 138, 247, 0.8);
    --login-blue-soft: rgb(90, 159, 255);
    --info-field-text: #384dc3;
}

body {
    color: black;
    background-color: white;
    margin: 0 auto;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    z-index: 999;
}

.logo{
    cursor: pointer;
}

.authentication li{
    display: inline-block;
}

.authentication li:first-child{
    border-right-style: solid;
    border-width: 1px;
    border-color: gray;
    padding-right: 5px;
}

.authentication li a{
    font-size: 20px;
    transition: all 0.3s ease 0s;
    color: black;
}

.authentication li a:hover{
    color:var(--login-blue);

}

.topnav-elements{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}


.about-us-button-class:hover{
    color:darkblue;
}

.about-us-button-class {
    background-color: var(--login-blue);
    align-items: center;
    width: 100%;
    height: 70px;
    color: white;
    font-weight: lighter;
    font-size: 25px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border: none;
    outline: none;
}

.about-us-names-class {
    color: white;
    font-size: 0.9rem;
    padding: 0 4%;
    overflow: hidden;
    background-color: var(--login-blue-a);
    position: absolute;
    width: 100%;
    
    height: 0px;
    transition: height 300ms;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.up-number-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.up-number-col:nth-of-type(2) {
    padding-left: 10px;
    flex: 5;
}

.name-col > li:nth-child(1), .up-number-col > li:nth-child(1) {
    margin-top: 10px;
}

.about-us-names-class.is-active {
    height: 135px;
}

.image-container{
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-style: solid;
    border-width: 10px;
    border-color: var(--login-blue);
    animation: animate 60s ease-in-out infinite;
}

@keyframes animate{
    0%, 100%{background-image: url(../assets/image1.png), url(../assets/image2.png);}
    10% {background-image: url(../assets/image2.png), url(../assets/image3.png);}
    20% {background-image: url(../assets/image3.png), url(../assets/image4.png);}
    30% {background-image: url(../assets/image4.png), url(../assets/image5.png);}
    40% {background-image: url(../assets/image5.png), url(../assets/image6.png);}
    50% {background-image: url(../assets/image6.png), url(../assets/image7.png);}
    60% {background-image: url(../assets/image7.png), url(../assets/image8.png);}
    70% {background-image: url(../assets/image8.png), url(../assets/image9.png);}
    80% {background-image: url(../assets/image9.png), url(../assets/image10.png);}
    90% {background-image: url(../assets/image10.png);}
}

.image-container h1{
    text-align: center;
    color:white;
    padding-top: 30px;
    text-shadow: 2px 2px 5px #000000;
    font-weight: lighter;
}

.image-container h2{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px #000000;
    font-weight: lighter;
}

.button-container{
    height: 15%;
    text-align: center;
    position: relative;
    top: 55%;
}

.inner-button-container{
    height: 100%;
    width:50%;
    position: relative;
    left: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--login-blue);
    border-radius: 8px;
}

.btn{
    height: 100%;
    width: 100%;
    background: var(--login-blue);
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    border:none;
    border-right-style: solid;
    border-width: 1px;
    border-color: black;
    transition: ease-out 0.5s;
    color:white;
}

.btn:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.btn:last-child{
    border-right: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn:hover{
    background-color: white;
    color: var(--login-blue)
}

.message-container {
    position: relative;
    top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    animation: fadeout 3s linear 1 forwards;
    opacity: 1;
}

@keyframes fadeout {
    100% { opacity: 0; }
  }

.message-content{
    padding-top: 1%;
    width: 200px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0);
    top: 30%;
    text-align: center;
    overflow: hidden;
    position: absolute;
}

.adopt-container, .favourites-container, .search-container, .login-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 10;
}

.adopt-content, .favourites-content, .search-content, .login-content{
    width: 400px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    border-style: solid;
    border-color: var(--login-blue);
    border-width: 2px;
    overflow: hidden;
}

.close-button-container{
    height: 5px;
    float: right;
    position: relative;
    top: 10px;
    right: 10px;
}

.close-button-container a{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
    transition: 0.1s;
}

.close-button-container a:hover{
    color: red;
}


.gender-checkbox-container {
    margin-top: 2%;
}

.checkbox-container {
    display: block;
    position: relative;
    text-align: left;
    margin-left: 30%;
    margin-right: 25%;

    margin-top: 6px;
    margin-bottom: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 20%;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}
  
/* mouse-over checkbox */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
/* blue background if checkbox is checked */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark (starts as hidden) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style checkmark */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.search-content h1 {
    padding: 20px 0 0 0;
    font-size: 40px;
    font-weight: normal;
    color: darkblue;
}


.search-content h2{
    font-size: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--login-blue);
}

.search-content > form, .advanced-search-form {
    padding: 5% 10% 8%;
}

.search-content > form > button, .advanced-search-form > button, .adopt-favourite-container > button {
    margin-top: 7%;
    width: 75%;
    height: 50px;
    border: 2px solid;
    background: var(--login-blue);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-out 0.5s;
}

.adopt-favourite-container > button {
    margin-top: 0;
    font-size: 28px;
}


.search-content > form > button:hover, .advanced-search-form > button:hover, .adopt-favourite-container > button:hover {
    background-color: white;
    color: var(--login-blue);
}

.species-checkbox-container{
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--login-blue);
    border-width: 2px;
}

.species-checkbox-container label, .range-slider-container > label {
    color: darkblue;
}

.species-checkbox-container .checkbox-container{
    color: black;
    font-size: 20px
}

.gender-checkbox-container label{
    color: darkblue;
}

.gender-checkbox-container .checkbox-container{
    color: black;
    font-size: 20px
}

.gender-checkbox-container{
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: var(--login-blue);
    border-width: 2px;
}

.search-container .txt_field input:focus ~ label,
.search-container .txt_field input:not(:placeholder-shown) ~ label{
    top: -15px;
    color: var(--login-blue)
}

.search-container .txt_field input:focus ~ span::before,
.search-container .txt_field input:not(:placeholder-shown) ~ span::before{
    width: 100%;
}


.login-content h1{
    font-size: 40px;
    font-weight: normal;
    padding: 20px 0 0 0;
    color: darkblue;
}

.login-content h2{
    font-size: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--login-blue);
}


.login-content form, .register-content form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 30%;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--login-blue);
    transition: 0.5s;
}


.login-content .txt_field input:focus ~ label,
.login-content .txt_field input:valid ~ label{
    top: -15px;
    color: var(--login-blue)
}

.login-content .txt_field input:focus ~ span::before,
.login-content .txt_field input:valid ~ span::before{
    width: 100%;
}

.login-content > form > button{
    width: 100%;
    height: 50px;
    border: 2px solid;
    background: var(--login-blue);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-out 0.5s;
}


.login-content > form > button:hover{
    background-color: white;
    color: var(--login-blue);
}

.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a{
    color: var(--login-blue);
    text-decoration: none;
}


body > div > div.login-container > div {
    font-size: 2rem;
}


#signup {
    border-top-style: solid;
    border-width: 15px;
    border-color: var(--login-blue);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../assets/register_bg.jpeg);
    background-size: cover;
}

.register-content{
    padding-top: 10px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 50px;
    width: 450px;
    margin-bottom: 150px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
}

#signup .register-content h1{
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    padding-top: 20px;
    color: darkblue;
}

.register-content h2{
    font-size: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--login-blue);

}


.register-content > form > button{
    width: 100%;
    height: 50px;
    border: 2px solid;
    background: var(--login-blue);
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
    transition: ease-out 0.5s;
    margin-top: 20px;
}


.register-content > form > button:hover{
    background-color: white;
    color: var(--login-blue);
}

#signup .txt_field label{
    position: absolute;
    top: 30%;
    left: 5px;
    color: #adadad;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

#signup .txt_field span::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--login-blue);
    transition: 0.5s;
}


#signup .txt_field input:focus ~ label,
#signup .txt_field input:valid ~ label{
    top: -15px;
    color: var(--login-blue)
}

#signup .txt_field input:focus ~ span::before,
#signup .txt_field input:valid ~ span::before{
    width: 100%;
}

/*
---------------------------------------------
add_animal.php
---------------------------------------------

*/

#signup-animal {
    border-top-style: solid;
    border-width: 15px;
    border-color: var(--login-blue);
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url(../assets/add_animal_bg.jpg);
    background-size: cover;
}

#signup-animal .register-content h1{
    font-size: 45px;
    text-align: center;
    font-weight: normal;
    padding-top: 20px;
    color: darkblue;
    line-height: 100%;
    margin-bottom: 1%;
}

#signup-animal .txt_field input:focus ~ label,
#signup-animal .txt_field input:valid ~ label{
    top: -15px;
    color: var(--login-blue)
}

#signup-animal .txt_field input:focus ~ span::before,
#signup-animal .txt_field input:valid ~ span::before{
    width: 100%;
}


/*
---------------------------------------------
    list_animals.php
---------------------------------------------
*/
.animal-list-container {
    display: flex;
    flex-wrap: wrap;

    max-width: 100%;
    max-height: 100%;
	margin: 0;
    padding: 1% 2% 6%;
    background-image: linear-gradient(to top, var(--login-blue), #84ceeb);
}

.search-parameters-container {
    margin-bottom: 2%;
    flex: 1;
}

.search-parameters h1 {
    text-align: center;
    margin-bottom: 20px;
}

.search-parameters {
    text-align: center;
}


.animal-list-grid {
    padding: 0;
    margin-top: 62px;
    list-style: none;
    
    flex: 3;
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Source: https://stackoverflow.com/questions/4919076/outline-effect-to-text */
	width: 100%;
}

.animal-list-grid, .animal-list-grid.before {
    content: '';
    display: table;
}

.animal-list-grid li {
    width: 328px;
	height: 328px;
	display: inline-block;
	margin: 20px;
}

.short-animal-container {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.short-animal-container:hover {
    transform: scale(1.05);
}

.short-animal-container {
  background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10));
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.short-animal-container > .animal-text{
    position: fixed;
    width: 100%;
}

.short-animal-container > .background-image {
    position: absolute;
    width:100%; height:100%;
    margin: auto;
}

.animal-list-container .animal-text > .animal-name {
    font-weight: 400;
    color: #fff;
    font-size: 2.5rem;
	margin: 0;
	padding-top: 45%;
	line-height: 1.5;
}

.animal-list-container .animal-text > .animal-species {
    color: #fff;
    padding: 0;
	margin: 1% 4%;
	font-size: 1.5rem;
	line-height: 1.5;
}

/*
---------------------------------------------
    animal.php
---------------------------------------------
*/

.animal-page-complete{
    align-content: center;
    background-color: #f3f2da;
    width: 100%;
}

.animal-page-complete > svg {
    width:100%;
    height: 20%;
    position: absolute;
    z-index: 0;
}

.animal-container {
    display: block;
    /* height: 75vh; */
    position: relative;
    width: 100%;
}

.animal-photo img {
    display: block;

    position: relative;

    margin: 0 auto -4%;
    
    border-radius: 100%;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 20px;
    border-color: var(--login-blue);

    min-width: 30vh;
    min-height: 30vh;
    width: 400px;
    height: 400px;
    max-width: 40vh;
    max-height: 40vh;
    z-index: 1;
}


.animal-card{
    position: relative;
    /* bottom: 48vh; */
    color: var(--login-blue);
    margin-left: 20%;
    margin-right: 20%;
    padding: 1% 2% 3% 2%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;

}

.animal-stats {
    color: var(--login-blue);
}

.animal-card .animal-name{
    position: relative;
    color: black;
    padding: 5% 0 3px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
}

.animal-card hr {
    margin-bottom: 2%;
    margin-top: 1%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    background-color:gray;
}

.animal-info{
    display: flex;
    justify-content: center;
    width: 100%;
}

.animal-card ul li:not(:first-child):before {
    content: " | ";
    color: black;
}

.animal-card .animal-name h1 {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex: 2;
}

.favourite-container {
    position: absolute;
    right: 20%;
    display: flex;
    padding-left: 10%;

}

.favourite-container form {
    margin: auto auto auto 1%;
}
.favourite-container .favourite-button-container {
    margin: auto 3% auto auto;
}

.adopt-button-container {
    margin: auto;
}

.add-to-favourites-button-unliked, .add-to-favourites-button-liked, .favourites-counter {
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

.adopt-favourite-container {
    margin: 1% 20% 2%;
    text-align: center;
}

.topic-container {
    color: black;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    margin: 0 20% 5%;
    padding: 0% 3% 2%;
    min-width: 380px;
}

.topic-container .user-photo, .topic-container .proposal-user-photo  {
    
    position: relative;
    top: -20px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    flex: 2;
}

.topic-container .proposal-user-photo {
    top: 10px;
}

.topic-container .user-photo img, .topic-container .proposal-user-photo img {



    border-radius: 100%;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 10px;
    border-color: var(--login-blue);
}

.topic-container .user-photo a, .topic-container .proposal-user-photo a {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;

    min-width: 100px;
    min-height: 100px;
    width: 15vh;
    height: 15vh;
    max-width: 300px;
    max-height: 300px;
}


.topic-header, .proposal-header {
    margin-bottom: 2vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topic-title, .proposal-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    flex: 2;

    margin-right: 2%;
}

.topic-username, .proposal-user {
    font-size: 4vh;
}


.topic-data, .proposal-newName {
    font-size: 2vh;
    font-style: italic;
}

.proposal-header .proposal-title {
    padding-top: 5%;
}




.animal-card ul li {
    display:inline;
}

.stat-title {
    font-weight: 600;
    margin-right: 3%;
}

.topic-title-container{
    margin: 2% 20% 3%;
    color: white;
    text-align: center;
    
    display: block;
    justify-content: center;
}

.topic-title-container h1 {

    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: white;
    color: black;
    padding: 1vh;
}

.topic-username > a, .proposal-user > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 1rem;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out, ;
}



.topic-username > a:hover, .proposal-user > a:hover {
    color: var(--login-blue);
}

select {
    font-family: 'FontAwesome', 'Arial';
    height: 45px;
}

.advanced-search-form {
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    min-width: 325px;
    max-width: 400px;
}

.advanced-search-form > .gender-checkbox-container, .advanced-search-form > .species-checkbox-container {
    padding: 10px 0;
}

/* Range sliders (Source: https://codepen.io/joosts/pen/rNLdxvK) */

.range-sliders-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin: 10px 10% 0;
}

.range-slider-container {
    padding: 0 10px;
    margin: 0px auto;
    text-align: center;
}

.min-max-slider {
    position: relative;
    width: 200px;
    margin-bottom: 35px;
}

.min-max-slider > label {
    display: none;
}

span.value {
    height: 1.7em;
    font-weight: bold;
    display: inline-block;
}

span.value.lower {
    text-align: left;
    margin-left: -1px;
    width: 50%;
}

span.upper.value {
    text-align: right;
    margin-right: -10px;
    width: 50%;
    /* padding-left: 35%; */
}



span.value.lower::before {content: ""; display: inline-block;}
span.value.upper::before {content: ""; display: inline-block; margin-left: 0.4em;}
.min-max-slider > .legend {display: none;}

.min-max-slider > input {cursor: pointer; position: absolute;}

/* webkit specific styling */
.min-max-slider > input {
  -webkit-appearance: none;
  outline: none!important;
  background: transparent;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 30%, silver 30%, silver 60%, transparent 60%, transparent 100%);
}
.min-max-slider > input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 24px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.min-max-slider > input::-webkit-slider-runnable-track {cursor: pointer;}


/*
---------------------------------------------
    profile.php
---------------------------------------------
*/
.profile-page-complete{
    background-color: #D8F4F3;
}


.profile-container{
    display: block;
    height: 75vh;
    position: relative;
    width: 100%;
}

/* cant be ".profile-container .user-photo img {" cuz it's being used in the animal profile page */
.profile-container .user-photo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 40vh;
    border-radius: 100%;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 20px;
    border-color: var(--login-blue);
    width: 400px;
    height: 400px;
    z-index: 1;
}

.user-card{
    position: relative;
    bottom: 48vh;
    color: var(--login-blue);
    margin-left: 20%;
    margin-right: 20%;
    padding: 1% 2% 3% 2%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
}

.user-card .user-name{
    position: relative;
    color: black;
    padding: 5% 0 3px 0;
    text-align: center;
}


.user-card h4, .animal-stat h4 {
    color: black;
    font-weight: normal;
}

.profile-container .user-card hr{
    margin-bottom: 2%;
    margin-top: 1%;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    background-color:gray;
}


/*-----------------------------------------*/
.profile-animals-title-container{
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

.profile-animals-title-container h1{
    width: 60%;
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: white;
    color: black;
    padding: 1vh;
}

.profile-animals-ext-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 9vh;

}

.profile-animals-container{
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: rgb(250, 250, 250);
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh;
}

.profile-animal-container{
    margin: 4%;
    border-radius: 50px;
    min-height: 40vh;
    -webkit-transition: 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out,
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out,
    transform 0.3s ease-in-out, ;
    background-color: var(--login-blue);
}

.profile-animal-container .animal-photo{
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    
}

.profile-animal-container .animal-text{
    padding-top: 2%;
    height: 10vh;
    text-align: center;
    color: white;
}

.profile-animal-container .animal-text .animal-name{
    color: white;
    font-weight: bold;
    font-size: x-large;
    transition: ease-out 0.5s;
}

.profile-animal-container .animal-text .animal-species{
    color: black;
    font-size: large;
    transition: ease-out 0.5s;;
}

.profile-animal-container:hover {
    background-color: darkblue;
}

.profile-animal-container:hover .animal-text .animal-species{
    color: white;
}


/*------------------------*/
.profile-favourites-title-container{
    color: white;
    text-align: center;
    width: 100%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

.profile-favourites-title-container h1{
    width: 60%;
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 2px;
    background-color: white;
    color: black;
    padding: 1vh;
}

.profile-favourites-ext-container{
    width: 100%;
    display: flex;
    justify-content: center;

}

.profile-favourites-container{
    border-style: solid;
    border-color:var(--login-blue);
    border-radius: 50px;
    border-width: 10px;
    background-color: rgb(250, 250, 250);
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1vh;
}